@model EntityCodeFirstTests.Models.customers
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm("Details", "Customer", FormMethod.Get))

{

    <table class="table table-striped table-bordered table-condensed">

        <thead>
        <tr>

            <th>Name</th>
            <th>Subscription Type</th>
            <th>Subscribed to Newsletter</th>
            <th>Birthdate</th>
            <th>Discount(%)</th>
            <th>Duration in Months</th>
            <th>Signup Fee</th>



        </tr>


        </thead>

        <tbody>

        <tr>


            <td>@Model.Name</td>
            <td>@Model.MembershipType.MembershipTypeName</td>
            <td>@Model.IsSubscribedToNewletter </td>
            @if (Model.BirthDate.HasValue)
            {
                <td>@Model.BirthDate.Value.ToShortDateString()</td>
            }
            else
            {
                <td>N/A</td>
            }
            <td>@Model.MembershipType.DiscountRate%</td>
            <td>@Model.MembershipType.DurationInMonths</td>
            <td>@Model.MembershipType.SignUpfee</td>


        </tr>



        </tbody>



    </table>
}